body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
}
#main {
  width: 100%;
  padding: 10px;
}
#chart {
  position: relative;
}
#chart path {
  stroke: #fff;
}
#finput {
  display: none;
}
select {
  position: absolute;
  top: 0;
  right: -34px;
  margin: 8px 72px 0 0;
}

/* Info */
.info {
  position: absolute;
  padding: 4px;
  color: black;
}

/* Banner, icons and page */
.banner {
  background: #9120a5;
  padding: 6px 0 6px 6px;
  font-size: 1.1em;
  height: 22px;
  color: white;
}
.left {
  width: auto;
  float: left;
}
.right {
  float: none;
  width: auto;
}
.right.icons {
  text-align:right;
  padding-right: 6px;
}
img.icon {
  height: 26px;
  padding: 1px;
  margin-top: -3px;
}
img.icon:hover {
  background-color: #ffffff66;
}